<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="card-layout" noscript>
	<template>
		<style>
			::content card-content
			{
				display: none;
			}

			::content card-content:first-of-type
			{
				display: block;
				overflow: visible;
				width: 100%;
				height: 100%;
			}

			#layout
			{
				position: relative;
				height: calc(100% - 8px);
				width: calc(100% - 8px);
				padding: 4px;
			}

			#card
			{
				position: relative;
				height: 100%;
				width: 100%;
				border-radius: 4px;
				background-color: #fafafa;
				-webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
				   -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
				        box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.75);
				box-sizing: border-box;
				overflow: hidden;
			}
		</style>
		<div id="layout">
			<div id="card">
				<content select="card-content"></content>
			</div>
		</div>
	</template>
</polymer-element>

<polymer-element name="card-content" noscript>
	<template>
		<content></content>
	</template>
</polymer-element>
