<!DOCTYPE html>
<html>
<head>
	<title>TV</title>
	<link rel="import" href="components/polymer/polymer.html">
	<link rel="import" href="components/font-roboto/roboto.html">
	<link rel="import" href="components/core-ajax/core-ajax.html">
	<style>
	body
	{
		/*background: #E0E0E0;*/
		background: #006AB2;
		/*background: orange;*/
		color: #212121;
	}
	</style>
</head>
<body style="position: absolute; top:0; bottom:0; left:0; right:0; margin: 0; padding: 0; font-family:Roboto;" unresolved>
<core-ajax
	auto
	method="POST"
    url="http://grr.dev/planning"
    params='{"rooms":["D300", "D301"]}'
    handleAs="json"></core-ajax>
<core-ajax
	auto
	method="POST"
    url="http://gantt.dev/gant"
    params='{"modules":[{"code": "B-MUL-150","code_instance": "STG-2-1"},{"code": "B-CPE-155","code_instance": "STG-2-1"},{"code": "B-PSU-155","code_instance": "STG-2-1"},{"code": "B-PAV-360","code_instance": "STG-4-1"}]}'
    handleAs="json"></core-ajax>
     <template repeat="{{response.feed.entry}}">
    <div>{{title.$t}}</div>
	</template>
    <script type="text/javascript">
    document.addEventListener('polymer-ready', function() {
      var ajaxs = document.getElementsByTagName("core-ajax");
      ajaxs[0].addEventListener("core-response",
        function(e) {
        	console.log(e.detail.response);
          // document.querySelector('template').model = {
            // response: e.detail.response
          // };
        }
      );
      ajaxs[1].addEventListener("core-response",
        function(e) {
        	console.log(e.detail.response);
          // document.querySelector('template').model = {
            // response: e.detail.response
          // };
        }
      );
    });
	</script>
</html>