<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="content-left">
	<template>
		<style>
			:host
			{
				display: block;
			}
		</style>
		<content></content>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>
<polymer-element name="content-right">
	<template>
		<style>
			:host
			{
				display: block;
			}
		</style>
		<content></content>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>
<polymer-element name="horizontal-layout">
	<template>
		<style>
			:host
			{
				display: block;
				position: relative;
				/*background-color: white;*/
				padding: 0;
				margin: 0;
				height: 100%;
				width: 100%;
				font-size: 1.2rem;
				font-weight: 300;
			}
			::content content-left, ::content content-right
			{
				height: 100%;
				top: 0;
				bottom: 0;
				width: 50%;
				overflow: visible;
				position: absolute;
			}
			::content content-left
			{
				left: 0;
			}
			::content content-right
			{
				right: 0;
			}
		</style>
		<div class="content" layout vertical center>
			<content select="content-left"></content>
			<content select="content-right"></content>
		</div>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>