<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="module-image" attributes="config">
	<template>
		<style>
			img
			{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		</style>
		<img id="img" src="{{src}}"/>
	</template>
	<script>
		src: "ya_pas.png",
		Polymer({
			attributeChanged: function(attr, oldVal, newVal)
			{
				var conf = JSON.parse(JSON.stringify(
						eval("(" + this.config + ")")));
				this.src = conf.src;
			}
		});
	</script>
</polymer-element>