<link rel="import" href="components/polymer/polymer.html">
<link rel="import" href="components/core-icons/core-icons.html">
<link rel="import" href="components/core-icons/maps-icons.html">
<link rel="import" href="components/font-droid/droid.html">

<polymer-element name="netsoul-user" attributes="name status overlay">
<template>
	<style>
		:host
		{
			display: block;
			width: 96px;
			height: 128px;
			margin: 6pt;
		}
		#user
		{
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: hidden;
			-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
			   -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
			        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
		}
		#user-img
		{
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: 100%;
			top: 0;
			left: 0;
		}
		#overlay
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
		}
		#standout-icon
		{
			position: absolute;
			top: 0;
			right: 0;
			margin: 2pt;
			/*color: #FFEB3B;*/
			color: #558B2F;
		}
		#user-name
		{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 17pt;
			font-size: 12pt;
			color: white;
			font-family: Droid Sans;
			background-color: black;
			text-align: center;
			vertical-align: middle;
		}
		.standout #user-name
		{
			font-weight: bold;
		}
		#user-name.at_school
		{
			background-color: #558B2F;
		}
		#user-name.offline
		{
			background-color: #C62828;
		}
		#user-name.at_home
		{
			background-color: #EF6C00;
		}
}
	</style>
	<core-ajax
		auto
		url="http://netsoul.dev/permanence/{{name}}"
		handleAs="json"
		response="{{standout}}">
	</core-ajax>
	<div id="user" class="{{standout ? 'standout' : ''}}">
		<div id="user-img" style="background-image:url('https://cdn.local.epitech.eu/userprofil/profilview/{{name}}.jpg')"></div>
			<core-icon id="standout-icon" icon="{{icon}}" style="display: {{standout ? 'display' : 'none'}}"></core-icon>
			<div id="overlay" style="display: {{overlay === '' ? 'none' : 'block'}}; background-image:url('{{overlay}}');"></div>
			<div id="user-name" class="{{status}}"> <!-- TODO: utiliser un <template> afin de pouvoir ajouter un nombre arbitraire d'icônes. -->
				<span>{{name}}</span>
			</div>
		</div>
	</div>
</template>
<script>
	Polymer({
		name: String,
		status: String,
		pictureUrl: String,
		standout: Boolean,
		icon: 'star',
		overlay: '',
		ready: function () {
			switch (this.name) {
				default:
					this.icon = 'maps:beenhere';
					break;
			}
		}
	});
</script>
</polymer-element>

<polymer-element name="module-netsoul" attributes="config">
<template bind="{{users}}">
	<style>
		:host
		{
			display: block;
			padding: 8pt;
			margin: 0;
			height: 100%;
			width: 100%;
		}
		#title
		{
			text-align: center;
			font-size: larger;
			font-family: Roboto Thin;
			color: #757575;
			margin: 0 0 4pt 0;
		}
		#users-list-container
		{
			width: 100%;
			height: calc(100% - 34px);
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		#users-list
		{
			display: -webkit-flex;
			display:     -ms-flexbox;
			display:         flex;
			-webkit-flex-flow: row wrap;
			    -ms-flex-flow: row wrap;
			        flex-flow: row wrap;
			    -ms-flex-line-pack: justify;
			    -ms-flex-line-pack: end;
			-webkit-align-content: space-around;
			-webkit-align-content: flex-end;
			align-content: space-around;
			align-content: flex-end;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-justify-content: center;
			        justify-content: center;
			    -ms-flex-pack: center;
			    -ms-flex-align: center;
			height: auto;
			position: relative;
			left: 0;
			right: 0;
			overflow: visible;
		}
	</style>
	<core-ajax
		auto
		method="POST"
		url="http://netsoul.dev/status"
		params='{{get_json(config)}}'
		handleAs="json"
		response="{{users}}">
	</core-ajax>
	<h1 id="title">Netsoul</h1>
	<div id="users-list-container">
		<div id="users-list" layout horizontal center>
			<template repeat="{{user in users}}">
				<netsoul-user name="{{user.login}}"status="{{user.status}}"></netsoul-user>
			</template>
		</div>
	</div>
</template>
<script>
	Polymer({
		get_json: function(obj)
		{
			res = { "params": this.config };
			return (res);
		},
	});
</script>
</polymer-element>