<link rel="import" href="components/polymer/polymer.html">
<link rel="import" href="components/moment-js/moment-js.html">
<link rel="import" href="components/core-ajax/core-ajax.html">

<polymer-element name="planning-item" attributes="start end item dated">
<template>
	<style>
		:host
		{
			color: white;
			box-sizing: border-box;
			background-color: #424242;
			display: block;
			margin: 2pt;
			padding: 4pt;
			border-radius: 2pt;
			-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
			   -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
			        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
		}
		#time
		{
			font-size: 12px;
			margin: 0;
		}
		#item
		{
			margin: -2pt 0 2pt 8pt;
			font-size: 10px;
			font-family: Roboto Condensed;
		}
		#item.alone
		{
			margin: 2pt;
		}
	</style>
	<template if="{{dated}}">
		<h1 id="time">{{normalizeHour(start)}}&thinsp;&ndash;&thinsp;{{normalizeHour(end)}}</h1>
	</template>
	<p class="{{dated ? '' : 'alone'}}" id="item">{{item}}</p>
</template>
<script>
	Polymer({
		start: String,
		end: String,
		item: String,
		dated: Boolean,
		normalizeHour: function(hour) {
			return (moment(hour, 'H:m').format('H:mm'));
		}
	});
</script>
</polymer-element>

<polymer-element name="planning-range" attributes="start end">
<template>
<style>
	:host
	{
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		border-right: 2px;
	}
	#range
	{
		position: absolute;
		top: 14pt;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.time
	{
		display: block;
		position: absolute;
		right: 8pt;
		font-size: 10pt;
		line-height: 10pt;
		height: 10pt;
		color: #BDBDBD;
	}
	.line
	{
		display: block;
		position: absolute;
		right: 0;
		height: 0;
		width: 6pt;
		border-top: 1px solid #BDBDBD;
	}
</style>
	<div id="range">
		<template repeat="{{hour in hours}}">
			<span class="time" style="top:calc({{eventBound(hour, amplitude)}} - 5pt)">{{normalizeHour(hour)}}:00</span>
			<div class="line" style="top:{{eventBound(hour, amplitude)}}"></div>
		</template>
	</div>
</template>
<script>
	"use strict";
	Polymer({
		start: String,
		end: String,
		hours: [],
		amplitude: Number,
		ready: function() {
			this.recompute();
		},
		startChanged: function() {
			this.recompute();
		},
		endChanged: function() {
			this.recompute();
		},
		eventBound: function(bound, amplitude) {	// This method takes the amplitude so binding will call it when it is changed.
			var percent;
			percent = moment(bound + ':00', 'H.m').diff(moment(this.start, 'H:m')) * 100 / amplitude + '%';
			return percent;
		},
		recompute: function() {
			var startMoment;
			var endMoment;
			var firstHour;
			var lastHour;

			// console.log("Range from " + this.start + " to " + this.end + ".");
			startMoment = moment(this.start, 'H:m');
			endMoment = moment(this.end, 'H:m');
			firstHour = startMoment.hour() + (startMoment.minutes() ? 1 : 0);
			lastHour = endMoment.hour();
			lastHour = lastHour ? lastHour : 24;
			this.amplitude = Math.abs(startMoment.diff(endMoment));
			for (this.hours = []; firstHour <= lastHour; ++firstHour) {
				// console.log('Adding ' + firstHour + ':00.');
				this.hours.push(firstHour);
			}
		},
		normalizeHour: function(hour) {
			hour = +hour;
			return hour === 24 ? 0 : hour;
		}
	});
</script>
</polymer-element>

<polymer-element name="room-planning" attributes="room events start end marks">
<template>
	<style>
		:host
		{
			display: block;
			position: relative;
			overflow: visible;
		}
		#list
		{
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		#room
		{
			font-size: 12pt;
			height: 14pt;
			font-family: Roboto Light;
			color: #4D4D4D;
			margin: 0;
			text-align: center;
		}
		#events
		{
			position: relative;
			height: calc(100% - 14pt);
			width: 100%;
		}
		planning-item
		{
			position: absolute;
			top: 0;
			left: 2pt;
			right: 2pt;
		}
		planning-item.A
		{
			background-color: #FF0322;
		}
		planning-item.E
		{
			background-color: #006AB3;
		}
		planning-item.common
		{
			background-color: #558B2F;
		}
		.time-mark
		{
			position: absolute;
			left: 0;
			right: 0;
			height: 0;
			border-top: 1px dotted #E1E1E1;
		}
		#time-indicator
		{
			position: absolute;
			left: 0;
			right: 0;
			height: 0;
			border-top: 1px dotted #006AB2;
			-webkit-transition: top 1s linear;
			   -moz-transition: top 1s linear;
			        transition: top 1s linear;
		}
	</style>
	<div id="list" vertical layout center>
		<h1 id="room">{{room}}</h1>
		<div id="events">
			<template bind if="{{marks}}">
				<template repeat="{{hour in hours}}">
					<div class="time-mark" style="top:{{eventBound(hour + ':00', amplitude)}}"></div>
				</template>
			</template>
			<div id="time-indicator", style="top:{{eventBound(now, amplitude)}};"></div>
			<template repeat="{{event in events}}">
				<planning-item
					class="{{event.type}}"
					start="{{convertHour(event.start_time)}}"
					end="{{convertHour(event.end_time)}}"
					item="{{event.name}}"
					dated="{{!marks}}"
					style="top:{{eventBound(convertHour(event.start_time), amplitude)}}; bottom:calc(100% - {{eventBound(convertHour(event.end_time), amplitude)}});">
				</planning-item>
			</template>
		</div>
	</div>
</template>
<script>
	Polymer({
		room: String,
		events: {},
		start: '8:00',
		end: '20:00',
		hours: [],
		startMoment: moment(),
		endMoment: moment(),
		amplitude: Number,
		now: String,
		marks: false,
		ready: function() {
			var _this = this;

			this.startMoment = moment(this.start, 'H:m');
			this.endMoment = moment(this.end, 'H:m');
			this.amplitude = Math.abs(this.startMoment.diff(this.endMoment));
			this.now = moment().format('H:m');
			this.computeHours();
			setInterval(function() {
				_this.now = moment().format('H:m');
			}, 60000)
		},
		startChanged: function() {
			this.startMoment = moment(this.start, 'H:m');
			this.amplitude = Math.abs(this.startMoment.diff(this.endMoment));
			this.computeHours();
		},
		endChanged: function() {
			this.endMoment = moment(this.end, 'H:m');
			this.amplitude = Math.abs(this.startMoment.diff(this.endMoment));
			this.computeHours();
		},
		eventBound: function(bound, amplitude) {	// This method takes the amplitude so binding will call it when it is changed.
			var percent;
			percent = moment(bound, 'H.m').diff(this.startMoment) * 100 / amplitude + '%';
			return percent;
		},
		computeHours: function() {
			var startMoment;
			var endMoment;
			var firstHour;
			var lastHour;

			// console.log("Range from " + this.start + " to " + this.end + ".");
			startMoment = moment(this.start, 'H:m');
			endMoment = moment(this.end, 'H:m');
			firstHour = startMoment.hour() + (startMoment.minutes() ? 1 : 0);
			lastHour = endMoment.hour();
			lastHour = lastHour ? lastHour : 24;
			this.amplitude = Math.abs(startMoment.diff(endMoment));
			for (this.hours = []; firstHour <= lastHour; ++firstHour) {
				// console.log('Adding ' + firstHour + ':00.');
				this.hours.push(firstHour);
			}
		},
		convertHour: function(raw) {
			time = moment.unix(raw)
			hour = time.hour()
			if (hour < 8)
				time.hour(8)
			res = time.format('H:m');
			return (res);
		},
	});
</script>
</polymer-element>

<polymer-element name="module-planning" attributes="start end marks config">
<template bind="{{rooms}}">
		<style>
			:host
			{
				display: block;
				position: relative;
				height: 100%;
				width: 100%;
			}
			#title
			{
				text-align: center;
				font-size: larger;
				font-family: Roboto Thin;
				color: #757575;
				margin: 0 0 4pt 0;
			}
			#planning-list
			{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				height: auto;
				position: absolute;
				left: 8pt;
				width: calc(100% - 16pt);
				bottom: 10px;
				top: 35px;
			}
			planning-range
			{
				/*width: 72pt;*/
				height: 100%;
				width: 40px;
				flex-grow: 0;
				flex-shrink: 0;
			}
			room-planning
			{
				height: 100%;
				width: 100%;
				border-left: 1px solid #E1E1E1;
				margin-left: -1px;
			}
			room-planning:first-of-type
			{
				border-left: none;
				margin-left: 0;
			}

			#module
			{
				position: relative;
				width: 100%;
				height: 100%;
				padding: 8pt;
				box-sizing: border-box;
			}
		</style>
		<core-ajax
			auto
			method="POST"
			url="http://grr.dev/planning"
			params='{{get_json(config)}}'
			handleAs="json"
			response="{{rooms}}">
		</core-ajax>
		<div id="module">
			<h1 id="title">Planning</h1>
			<div id="planning-list" layout horizontal center>
				<template bind if="{{marks}}">
					<planning-range start="{{start}}" end="{{end}}"></planning-range>
				</template>
				<template repeat="{{room in rooms}}">
					<room-planning room="{{room.room_name}}" events="{{room.entries}}" start="{{start}}" end="{{end}}" marks="{{marks}}"></room-planning>
				</template>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			start: '8:00',
			end: '24:00',
			marks: true,
			get_json: function(obj)
			{
				res = { "params": this.config };
				return (res);
			},
		});
	</script>
</polymer-element>