<link rel="import" href="components/polymer/polymer.html">
<link rel="import" href="components/paper-progress/paper-progress.html">
<link rel="import" href="components/moment-js/moment-js.html">
<link rel="import" href="components/core-ajax/core-ajax.html">

<polymer-element name="project-progress" attributes="name start end progress">
<template>
	<style>
		:host
		{
			display: block;
			width: 100%;
		}
		h1
		{
			font-size: 18pt;
			line-height: 18pt;
			padding: 0;
			font-family: Roboto Light;
			color: #4D4D4D;
			margin: 0 0 0 0;
		}
		paper-progress
		{
			display: block;
			margin-top: 4pt;
			width: 100%;
		}
		paper-progress::shadow #activeProgress
		{
			background-color: #006AB2;
		}
		#dates
		{
			position: relative;
			top: 0;
			left: 0;
			font-family: Roboto Condensed;
			font-size: 12pt;
			color: #757575;
			margin-top: 2pt;
		}
		#start
		{
			position: relative;
			top: 0;
			left: 0;
		}
		#end
		{
			position: absolute;
			top: 0;
			right: 0;
		}
	</style>
	<h1>{{name}}</h1>
	<paper-progress value="{{progress}}"></paper-progress>
	<div id="dates">
		<span id="start">{{prettyStart}}</span>
		<span id="end">{{prettyEnd}}</span>
	</div>
</template>
<script>
	Polymer({
		name: String,
		start: String,
		end: String,
		prettyStart: String,
		prettyEnd: String,
		progress: Number,
		prettyDate: function(dateString) {
			return moment(dateString).format('LLL');
		},
		ready: function() {
			this.prettyStart = this.prettyDate(this.start);
			this.prettyEnd = this.prettyDate(this.end);
		},
		startChanged: function() {
			this.prettyStart = this.prettyDate(this.start);
		},
		endChanged: function() {
			this.prettyEnd = this.prettyDate(this.end);
		}
	});
</script>
</polymer-element>

<polymer-element name="module-projects" attributes="config">
	<template bind="{{projects}}">
		<style>
			:host
			{
				display: block;
				position: relative;
/*				background-color: beige;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0;
				padding: 0;
*/				height: 100%;
				width: 100%;
				font-size: 1.2rem;
				font-weight: 300;
				color: #212121;
				padding: 8pt;
			}
			#title
			{
				display: block;
				text-align: center;
				font-size: larger;
				font-family: Roboto Thin;
				color: #757575;
				margin: 0 0 4pt 0;
			}
			#projects-list
			{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-justify-content: space-between;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				-webkit-flex-grow: 1;
				    -ms-flex-grow: 1;
				        flex-grow: 1;
				height: auto;
			}
			.project
			{
				width: 100%;
			}
			.project .content
			{
				display: inline-block;
				background-color: #E0E0E0;
				width: 100%;
				height: 2pt;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
			}
			.progress
			{
				background-color: #006AB2;
				margin: 0 !important;
				height: 3pt;
				position: relative;
				top: -0.5pt;
				width: 0%;
				white-space: nowrap;
				padding: 0;
				text-align: left;
			}
			.project-title
			{
				margin: 0 0 5px 0;
			}
			#content
			{
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				width: calc(100% - 16pt);
				height: calc(100% - 16pt);
			}
		</style>
		<core-ajax
			auto
			method="POST"
			url="http://gantt.dev/gant"
			params='{{get_json(config)}}'
			handleAs="json"
			response="{{projects}}">
		</core-ajax>
		<div id="content">
		<h1 id="title">Projets</h1>
			<div id="projects-list" layout vertical center>
				<template repeat="{{project in projects}}">
					<project-progress name="{{project.title}}" start="{{project.start}}" end="{{project.end}}" progress="{{project.percent}}"></project-progress>
				</template>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			get_json: function(obj)
			{
				res = { "params": this.config };
				return (res);
			},
		});
	</script>
</polymer-element>