<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="slide-layout" attributes="defaultDelay">
	<template>
		<style>
			:host
			{
				display: block;
				height: 100%;
				width: 100%;
			}
			::content slide-content
			{
				display: none;
			}
			::content slide-content.active
			{
				height: 100%;
				width: 100%;
				display: block;
			}
		</style>
		<content></content>
	</template>
	<script>
		"use strict";

		Polymer({
			slides: [],
			slidesNum: 0,
			defaultDelay: 3000,
			ready: function() {
				var _this = this;

				this.slides = document.getElementsByTagName('slide-content');
				this.slidesNum = this.slides.length;

				(function transition(i) {
					var delay;

					_this.slides[(i - 1 + _this.slidesNum) % _this.slidesNum].classList.remove('active');
					_this.slides[i].classList.add('active');

					if (!((delay = _this.slides[i].getAttribute('delay')) > 0))
						delay = _this.defaultDelay;
					setTimeout(function() {
						transition((i + 1) % _this.slidesNum);
					}, delay);
				})(0);
			}
		});
	</script>
</polymer-element>

<polymer-element name="slide-content">
	<template>
		<content></content>
	</template>
	<script>
		Polymer({
			properties: {
				delay: Number
			}
		});
	</script>
</polymer-element>