<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="module-text" attributes="config">
	<template>
		<style>
			p
			{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				text-align: center;
			}
		</style>
		<p>{{text}}</p>
	</template>
	<script>
		Polymer({
			attributeChanged: function(attr, oldVal, newVal)
			{
				var conf = JSON.parse(JSON.stringify(
						eval("(" + this.config + ")")));
				this.text = conf.text;
			}
		});
	</script>
</polymer-element>