<link rel="import" href="components/polymer/polymer.html">
<link rel="import" href="HorizontalLayout.html">
<link rel="import" href="VerticalLayout.html">
<link rel="import" href="Planning.html">
<link rel="import" href="Projets.html">
<link rel="import" href="Netsoul.html">
<link rel="import" href="SlideLayout.html">
<link rel="import" href="Video.html">
<link rel="import" href="Image.html">
<link rel="import" href="Text.html">
<link rel="import" href="CardLayout.html">

<polymer-element name="tv-display" attributes="data">
	<template>
		<content>
		</content>
	</template>
	<script>
		Polymer({
			ready: function () {
				var obj = JSON.parse(JSON.stringify(eval("(" + this.data + ")")));
				if (obj.type === "compo" && obj.sub_module && obj.sub_module.length == 1)
					this.disp_item(this, obj.sub_module[0]);
			},
			disp_item: function(parent, item) {
				var name = this.get_module(item)
				if (name === null)
					return;
				var new_item = document.createElement(name);
				var conf = JSON.stringify(item.config);
				new_item.setAttribute("config", conf);
				if (item.sub_module)
				{
					parent.appendChild(new_item);
					if (name === "horizontal-layout")
					{
						if (item.sub_module[0])
						{
							var left = document.createElement("content-left");
							new_item.appendChild(left);
							this.disp_item(left, item.sub_module[0]);
						}
						if (item.sub_module[1])
						{
							var right = document.createElement("content-right");
							new_item.appendChild(right);
							this.disp_item(right, item.sub_module[1]);
						}
					}
					else if (name === "vertical-layout")
					{
						var pos = 0;
						while (pos < item.sub_module.length)
						{
							var new_sub_item = document.createElement("vertical-content");
							new_item.appendChild(new_sub_item);
							this.disp_item(new_sub_item, item.sub_module[pos]);
							pos++;
						}
					}
					else
						this.disp_item(new_item, item.sub_module[0]);
				}
				else
				{
					var card = this.inside_card(new_item);
					parent.appendChild(card);
				}
			},
			get_module: function(item) {
				if (item.type === "mosa")
				{
					if (item.config.layout === "HORIZONTAL")
						return ("horizontal-layout");
					else if (item.config.layout === "VERTICAL")
						return ("vertical-layout");
				}
				else if (item.type === "slide")
					return ("slide-layout");
				else if (item.type === "video")
					return ("module-video");
				else if (item.type === "image")
					return ("module-image");
				else if (item.type === "text")
					return ("module-text");
				else if (item.type === "gantt")
					return ("module-projects");
				else if (item.type === "netsoul")
					return ("module-netsoul");
				else if (item.type === "planning")
					return ("module-planning");
				return (null);
			},
			inside_card: function(item) {
				var layout = document.createElement("card-layout");
				var content = document.createElement("card-content");
				content.appendChild(item);
				layout.appendChild(content);
				return (layout);
			}
		});
	</script>
</polymer-element>