<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="vertical-content" noscript>
	<template>
		<style>
			:host
			{
				display: block;
				height: 100%;
			}
		</style>
		<content></content>
	</template>
</polymer-element>

<polymer-element name="vertical-layout" noscript>
	<template>
		<style>
			:host
			{
				display: block;
				position: relative;
				padding: 0;
				margin: 0;
				height: 100%;
				width: 100%;
				font-size: 1.2rem;
				font-weight: 300;
			}

			::content vertical-content
			{
				width: 100%;
				height: 50%;
				overflow: hidden;
				position: absolute;
			}

			::content vertical-content:nth-of-type(1)
			{
				top: 0;
			}

			::content vertical-content:nth-of-type(2)
			{
				bottom: 0;
			}

			::content vertical-content:nth-of-type(n + 3)
			{
				display: hidden;
			}
		</style>
		<div class="content" layout vertical center>
			<content select="vertical-content"></content>
		</div>
	</template>
	<script>
		Polymer({});
	</script>
</polymer-element>