<link rel="import" href="components/polymer/polymer.html">
<polymer-element name="module-video" attributes="config">
	<template>
		<style>
			video
			{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		</style>
		<video id="vid" autoplay muted poster="ya_pas.png">
			<source src="{{src}}" type="video/mp4">
			Your browser does not support HTML5 video.
		</video>
	</template>
	<script>
		Polymer({
			attributeChanged: function(attr, oldVal, newVal)
			{
				var conf = JSON.parse(JSON.stringify(
						eval("(" + this.config + ")")));
				this.src = conf.src;
				if (conf.repeat)
					this.$.vid.loop = true;
			}
		});
	</script>
</polymer-element>